.map-div {
  position: absolute;
  top: 0;
  left:25%;
  bottom: 0;
  width: 40vw;
  margin-top: 13vh;
  margin-left: 30vw;
  height:60vh;
  z-index: 1000;
  box-shadow: 0 4px 15px 0 rgba(12, 47, 225, 0.75);
}

.mapboxgl-ctrl-group{
  background: none;
  margin-top: 1.2vh;
}

.mapboxgl-ctrl-group:not(:empty) {
box-shadow: none;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon {
background-color: rgba(134, 114, 17, 0.491);

}

.event-form {
  width: 250px;
  /* height: 275px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card{
  width: 250px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.eventLabel{
  width: max-content;
  color:darkblue;
  font-size:20px;
  border-bottom: 0.5px solid darkblue;
  margin: 3px 0;
}

.event{
  font-size: 17px;
  margin: 0;
}
.address{
  font-size 15px;
  margin: 0;
}
.date{
  font-size 15px;
  margin: 0;
}
.artist{
  font-size: 15px;
  margin: 0;
}
.mapboxgl-popup{
  z-index: 1000;
}

.artist-map{

}
.artist-profile{
display: flex;
flex-direction: row;
}

.pin{
  color:rgba(232, 8, 64, 0.75);
}

.submitButton{
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 17px;
  color: white;
  background-color: darkgreen;
  cursor: pointer;
  background-image: linear-gradient(to right, #667eea, #764ba2);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
