.map-div {
  position: absolute;
  top: 0;
  left:20%;
  bottom: 0;
  width: 40vw;
  margin-top: 20vh;
  margin-left: 30vw;
  height:60vh;
  z-index: 1000;
}

.mapboxgl-ctrl-group{
  background: none;
  margin-top: 1.2vh;
}

.mapboxgl-ctrl-group:not(:empty) {
box-shadow: none;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon {
background-color: rgba(134, 114, 17, 0.491);

}

.event-form {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}